@using GitHubApplication.Controllers
@{
    ViewBag.Title = "Nothing to display";
}

<h2>No Content</h2>

<h3 style="text-decoration:underline;">No users found or rate limit exceeded!</h3>
<h4>Please try later or with different username.</h4>

<button class="btn btn-primary mt-1" onclick="location.href='@Url.Action(nameof(WebController.GitHubUsername), "Web")'">Back to search user page</button>


