@{
    ViewBag.Title = "Hey!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Full Name:</strong> Miroslav Stojanovic<br />
    <strong>Email:</strong>   <a href="mailto:miroslav.stojanovic@zoho.com">miroslav.stojanovic@zoho.com</a><br />
    <strong>UpWork:</strong>   <a href="https://www.upwork.com/freelancers/~0142da88ecef9e8e5a?viewMode=1", target="_blank">Link to profile</a><br />
</address>